<tr id="issue-<%= tree_node.id -%>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= tree_node.css_classes %>"
    data-tt-id="<%= tree_node.id %>"
    data-tt-branch="<%= !(tree_node.leaf? || tree_node.children.where(id: issues_ids).limit(1).pluck(:id).empty?) ? 'true' : 'false' %>"
    data-tt-parent-id="<%= tree_node.parent_id %>">
  <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", tree_node.id, false, :id => nil) %></td>
  <td class="id"><%= link_to tree_node.to_param, controller: 'issues', action: 'show', id: tree_node %></td>
  <% # @note: exclude :issue_id column for compatibility with 'issue_id' plugin %>
  <% query.inline_columns.reject { |c| %i(id issue_id).include?(c.name) }.each do |column| %>
    <%= content_tag('td', column_content(column, tree_node), :class => column.css_classes) %>
  <% end %>
  <td class="buttons"><%= link_to_context_menu %></td>
</tr>
<% query.block_columns.each do |column|
  if (text = column_content(column, tree_node)) && text.present? -%>
    <tr class="<%= current_cycle %>"
        data-tt-id="<%= tree_node.id %>"
        data-tt-branch="false"
        data-tt-parent-id="<%= tree_node.parent_id %>">
      <td colspan="<%= query.inline_columns.size + 1 %>" class="<%= column.css_classes %>">
        <% if query.block_columns.count > 1 %>
          <span><%= column.caption %></span>
        <% end %>
        <%= text %>
      </td>
    </tr>
  <% end -%>
<% end -%>
